header{
  display: flex;
  width: 100%;
  align-items: center;
}

h1 {
  font-size: 15px;
  font-weight: bolder;
  margin-right: auto;
  text-decoration: none;
  padding: 0 0 0 20px;
  color: #191970;
}

ul {
  font-weight: bolder;
  font-size: 15px;
  display: flex;
  list-style: none;
  text-decoration: none;
}

li a{
  color: #191970;
  margin: 20px 20px;
  text-decoration: none;
}

.img {
  display: block;
  height: 450px;
  margin-left: 500px;
  padding: 50px;
}

h2 {
  margin: 0 0 0 20px;
  padding: 10px;
  font-size: 50px;
  font-weight: lighter;
}

.box {
  width: 550px;
  padding: 100px;
  margin-left: 20px;
  background: #191970;
}